<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBncw1PIjJTVmDfgcpodA8gB23Q2bpCUsA</string>
	<key>GCM_SENDER_ID</key>
	<string>32969671117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.technitoit.app</string>
	<key>PROJECT_ID</key>
	<string>technitoit-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>technitoit-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32969671117:ios:40e0539f766b9f962a0484</string>
</dict>
</plist>