<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495092923392-v01960q2p28qltt0bgjfbntlidpua6n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495092923392-v01960q2p28qltt0bgjfbntlidpua6n9</string>
	<key>API_KEY</key>
	<string>AIzaSyCT33W1M86uHEVAC9U956aNcPztYefor70</string>
	<key>GCM_SENDER_ID</key>
	<string>495092923392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mistertoiture.app</string>
	<key>PROJECT_ID</key>
	<string>mister-toiture-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>mister-toiture-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495092923392:ios:2e39c82eeca9d6cca66ce5</string>
</dict>
</plist>