<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571758637463-gvsovrdlaet90n90m3j8n7r75pl48nmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571758637463-gvsovrdlaet90n90m3j8n7r75pl48nmo</string>
	<key>API_KEY</key>
	<string>AIzaSyDVR3aavNzpeMHiRESzttKyMgy_yP1nk0k</string>
	<key>GCM_SENDER_ID</key>
	<string>571758637463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mistertoiture.app</string>
	<key>PROJECT_ID</key>
	<string>mister-toiture</string>
	<key>STORAGE_BUCKET</key>
	<string>mister-toiture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571758637463:ios:e0c822dd715b10c6b4d4d2</string>
</dict>
</plist>