<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018825773060-a0ju6lo1fhihqp4u93d4mm61fiokr2ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018825773060-a0ju6lo1fhihqp4u93d4mm61fiokr2ss</string>
	<key>API_KEY</key>
	<string>AIzaSyBlV95IUSKvZgAZve0pnJsl8F_SykaypBs</string>
	<key>GCM_SENDER_ID</key>
	<string>1018825773060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.europeenergie.app</string>
	<key>PROJECT_ID</key>
	<string>europe-energie-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>europe-energie-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018825773060:ios:d5013ae7ab76977bba2551</string>
</dict>
</plist>