<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243889752792-5oogrb960f53b48p0ibj7s35lb9oj9r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243889752792-5oogrb960f53b48p0ibj7s35lb9oj9r5</string>
	<key>API_KEY</key>
	<string>AIzaSyCpTGGpCfcuo5y4YtILBD1iYhYqFe8rkKo</string>
	<key>GCM_SENDER_ID</key>
	<string>243889752792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.europeenergie.app</string>
	<key>PROJECT_ID</key>
	<string>europe-energie</string>
	<key>STORAGE_BUCKET</key>
	<string>europe-energie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243889752792:ios:6063dd3ac00b18129025ad</string>
</dict>
</plist>